<div class="card">
  <div class="header">
    <h3 class="title">Cobranças</h3>
  </div>

  <div class="content">
    <%= 'Sem cobranças' if customer_charges.empty? %>

    <% customer_charges.crescent.each do |customer_charge| %>
      <h5>
        <%= "Cobrança ##{customer_charge.id}" %>
        <%= link_to backofficers_customer_charge_path(customer_charge) do %>
          <i class="fas fa-arrow-right"></i>
        <% end %>
      </h5>

      <%= show_model(
        customer_charge,
        :id,
        :kind,
        :initial,
        :status,
        :payment_method_kind,
        :value,
        :billing_date,
        :billing_deadline,
        :authorization_date,
        :authorization_deadline,
        :status_humanize) %>

      <hr/>
    <% end %>
  </div>
</div>
